.container {
  overflow: hidden;
  border-radius: 50%;
  background-color: #e2e8f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-surface);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Tailles */
.small {
  width: 32px;
  height: 32px;
}

.medium {
  width: 48px;
  height: 48px;
}

.large {
  width: 80px;
  height: 80px;
}
